b {
    float: left;
    margin: 0 0 0 0;
}

.row-especial{
    padding-top: 20px !important;
}

.input-container{
    width: auto;
    margin:auto;
}

.label-form-imovel-register{
    margin-left: 14% !important;
    font-size: 14px !important;
    float: left;
}

.label-form-imovel-register-end{
    margin-left: 55% !important;
    margin-top: -2.2% !important;
    font-size: 14px !important;
    float: left;
}

.input-form-imovel-register{
    border-radius: 15px;
    background-color: #ECE9E9;
    width: 36vw;
    /* margin-left: 1vw; */
    padding: 0.2vw;
    height: 40px;
    border: none;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: 400;
    outline: 0;
}

.input-form-imovel-register:focus{
    border: 3px #E240D2 solid;
}

.input-form-imovel-register-default{
    border-radius: 15px;
    background-color: #ECE9E9;
    width: 15.6vw;
    margin-left: -20.5vw;
    padding: 0.2vw;
    height: 40px;
    border: none;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: 400;
    outline: 0;
}

.input-form-imovel-register-default:focus{
    border: 3px #E240D2 solid;
}

.input-form-imovel-register-default-end{
    border-radius: 15px;
    background-color: #ECE9E9;
    width: 15.6vw;
    margin-left: 27.2vw;
    padding: 0.2vw;
    height: 40px;
    border: none;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-weight: 400;
    outline: 0;
    margin-top: -5% !important;
    float: left;
}

.input-form-imovel-register-default-end:focus{
    border: 3px #E240D2 solid;
}

.btn-images{
    height: 50px;
    width: 15.6vw;
    margin: auto;
    margin-right: -20vw !important;
    margin-left: 9%;
    background-color: var(--color-primary);
    cursor: pointer;
    border-radius: 15px;
    padding: 4px;
    outline: none;
    border: none;
    color: white;
    font-weight: bolder;
    transition: 0.3s ease-in-out;
}

.btn-images:hover{
    filter: brightness(75%);
}

.btn-segunda-etapa{
    height: 50px;
    width: 35%;
    margin: auto;
    margin-left: 1vw;
    background-color: var(--color-primary);
    cursor: pointer;
    border-radius: 15px;
    padding: 4px;
    outline: none;
    border: none;
    color: white;
    font-weight: bolder;
    transition: 0.3s ease-in-out;
}

/* detalhes do anuncio */

.row-tick{
    margin-left: 1%;
    margin-bottom: 3%;
}

.input-radio-imovel-register{
    margin-left: 7%;
    margin-top: 2%;
    float: left;
}

.formulario-cadastro-detalhes-imovel{
    margin-top: 8%;
}

.label-form-imovel-register-details{
    margin-left: 8% !important;
    font-size: 14px !important;
    float: left;
}

.label-form-imovel-register-details-semanal{
    margin-left: 25% !important;
    margin-top: -5.2%;
    font-size: 14px !important;
    float: left;
}

.label-form-imovel-register-details-mensal{
    margin-left: 80% !important;
    margin-top: -10.2%;
    font-size: 14px !important;
    float: left;
}

.radios{
    margin-top: -2% !important;
    margin-left: 25.5% !important;
}

.radios-mensal{
    overflow: hidden;
    margin-top: -4% !important;
    margin-left: 20% !important;
}