:root{
    --bg-primary: #F8F1F1;
    --color-primary: #E240D2;
    --bg-primary-font: #4D4D4D;
    --btn-secundary: #5740E2;
    --nav-color: #F6F3F3;
}

.cadastro {
    margin: auto;
}

.box{
    width: 50%;
    height:35% !important;
    margin: auto;
    margin-top: 8%;
    padding: 30px 10px 30px 10px;
    border-radius: 5px;
    box-shadow: 12px 13px 24px 0px rgba(0,0,0,0.67);
    text-align: center;
    color: var(--bg-primary-font);
    background-color: white;
    /* max-height: 35%; */
}

.text-container{
    width: auto;
    margin:auto;
    margin-bottom: 2%;
    background-color: white;
}

.input-container{
    width: auto;
    margin:auto;
}

.link{
    color: var(--bg-primary-font);
    margin-top: 20px;
    height: auto;
}

.password-link{
    text-decoration: none;
    color: var(--bg-primary-font);
}

.password-link:hover{
    color: var(--color-primary);
    transition: 0.3s ease-in-out;
}

.login{
    text-decoration: none;
    color: var(--bg-primary-font);
}

.login:hover{
    transition: 0.3s ease-in-out;
    color: var(--color-primary);
}

.box .dh-btn{
    background-color: var(--color-primary);
    cursor: pointer;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    font-weight: bolder;
    transition: 0.3s ease-in-out;
    height: 40px;
    width: 15%;
}


.dh-btn:hover{
    filter:brightness(80%);
}

.label-form{
    margin-left: 35.4%;
    float: left;
}

.input-form{
    border-radius: 15px;
    background-color: #ECE9E9;
    width: 300px;
}

.input-form:focus{
    border: 2px #E240D2 solid;
}