main{
    margin-top: 8.5vh;
    background: url("../images/sala.png") no-repeat 
    center center;
    background-size: cover;
    height: 80vh;   
    display: flex;
    align-items: center;
    justify-content: center; 
    letter-spacing: 1.7px;
    font-weight: 100;
}

.slogan-banner{
    width: 55%;
    color: #FFFFFF;
}

.slogan-banner p{
    font-size: 25px;
    margin: 6vh 0 6vh 0;
    width: 68%;
}

.button-saiba-mais{
    height: 5vh;
    width: 15vw;
    border-radius: 14px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    background-color: #E240D2;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.button-saiba-mais:hover{
    filter: brightness(75%);
}

.div-ap-proximos{
    justify-content: center;
}

.ap-proximos{
    display: flex;
    justify-content: center;
}

.ap-proximos h2{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 15px;
    padding-bottom: 16px;
    border-bottom: 5px #E240D2 solid;
    font-weight: 550;
    font-size: 35px;
    letter-spacing: 1px;
}

.div-cards{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.container-card{
    height: auto;
    width: 68%;
    margin: auto;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}

.button-ver-mais{
    height: 5vh;
    width: 15%;
    border-radius: 14px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.8px;
    background-color: #E240D2;
    cursor: pointer;
    left: 39%;
    top: 10vh;
    margin:  20px auto;
    transition: 0.3s ease-in-out;
}

.button-ver-mais:hover{
    filter: brightness(75%);
}