.side-nav-body{
    background-color: rgba(224, 220, 220, 0.744);
    width: 15%;
    height: 90vh;
}

.side-nav-item{
    padding: 5px;
    cursor: pointer;
    height: 30px;
    transition: 0.3s ease-in-out;
}

.side-nav-item:hover{
    background-color: #e573d868;
}

.side-nav-itens{
    display: flex;
    margin-top: 3%;
    opacity: 80%;
}

.side-nav-itens img{
    margin-right: 10px;
}

.house-icon{
    width: 15px;
}