:root{
    --bg-primary: #F8F1F1;
    --color-primary: #E240D2;
    --bg-primary-font: #4D4D4D;
    --btn-secundary: #5740E2;
    --nav-color: #F6F3F3;
}

html{
    width: 100%;
}

body{
    background-color: var(--bg-primary);
    color: var(--bg-primary-font);
}

.container{
    width: 80%;
    margin: auto;
}

/* Css do componente Box */
.box{
    width: 50%;
    height:35%;
    margin: auto;
    margin-top: 13%;
    padding: 30px 10px 30px 10px;
    border-radius: 5px;
    box-shadow: 12px 13px 24px 0px rgba(0,0,0,0.67);
    text-align: center;
    color: var(--bg-primary-font);
}

/* Css do componente Button */
.dh-btn{
    background-color: var(--color-primary);
    cursor: pointer;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    font-weight: bolder;
    transition: 0.3s ease-in-out;
    height: 40px;
    width: 62%;
}


/* Botão do componente box */
.box .dh-btn{
    background-color: var(--color-primary);
    cursor: pointer;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    font-weight: bolder;
    transition: 0.3s ease-in-out;
    height: 40px;
    width: 62%;
}

.input-container{
    width: auto;
    margin:auto;
}


.text-container{
    width: auto;
    margin:auto;
    margin-bottom: 2%;
}


.dh-input{
    height: 40px;
    width: 60%;
    border-radius: 20px;
    margin-bottom: 10px ;
    border-color: #E240D2 ;
    border-width: 1.5px;
    outline: none;
    padding-left: 10px;
    transition: 0.5s ease-in-out;
}



.dh-btn:hover{
    filter:brightness(80%);
}

.link{
    color: var(--bg-primary-font);
    margin-top: 20px;
    height: auto;
}

.password-link{
    text-decoration: none;
    color: var(--bg-primary-font);
}

.password-link:hover{
    color: var(--color-primary);
    transition: 0.3s ease-in-out;
}

.link h3{
    margin-top: 10px;
}

.register{
    text-decoration: none;
    color: var(--bg-primary-font);
}

.register:hover{
    transition: 0.3s ease-in-out;
    color: var(--color-primary);
}

/* Css do card */
.grid{
    display: flex !important;
  }
  
  .card-container{
    margin: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    margin: 10px 10px 10px 10px;
  }
  
  
  .card{
    background-color: #fff;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
  }

  /* .card:hover{
    transform: scale(1.1);
  } */
  
  .card-img {
    display: block;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 20rem;
    object-fit: cover;
  }
  
  .card-content {
    margin-bottom: 5%;
    padding: 1rem;
  }

  .card-content Button{
      font-weight: bold;
      width: 100%;
  }
  
  .text-container{
    margin-bottom: 5%;
  }

  .btn-large{
      margin: auto;
      width: 80%;
  }
  
  .card-header {
    font-weight: 500;
    color: #0d0d0d;
  }
  
  .card-text {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
  }
  
  
/* Css Do componente Nav */
nav {
    background-color: var(--nav-color);
    padding: 10px;
    display: flex;
}

/* Container da nav */
nav .container{

}

.logo {
    margin-top: 15px;
    height: 50px;
}

/* Css do componente Banner */
.banner-body{
    width: 100%;
    height: 500px;
    background-image: url("../assets/img/sala.png");
    background-size: cover;
    margin-bottom: 2%;
}

/* outros */
.section-title{
    text-align: center;
    font-size: 24px;
}

.section-line{
    border-top: 2px solid var(--color-primary);
    width: 98%;
    border-radius: 5px;
}